.wrapper__about {
  border: 1px solid green;
}
.content__about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.avatar__about {
  width: 40vw;
  border-radius: 50%;
  border: 1px solid rgba(204, 204, 204, 0.5);
  box-shadow: 0 0 15px 1px rgba(204, 204, 204, 0.5);
  padding: 5px;
  top: 30px;
}
.text_about {
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0 #e6e6e6;
  top: -30px;
  z-index: -1;
}
@media screen and (min-width: 769px) {
  .avatar__about {
    width: 30vw;
  }
}
