.menu {
  margin: 1rem auto;
  width: calc(100% - 2rem);
}
.menu__navigation {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.menu__navigation a {
  padding: 0.3rem 0;
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 769px) {
  .menu__navigation {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
}
