.wrapper {
  width: 100%;
}
.wrapper__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
.section__info {
  margin: 0 1rem;
}
.section__box {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 769px) {
  .wrapper {
    width: 70%;
    margin: 0 auto;
  }
  .section__info {
    margin: 0 0 2rem 0;
  }
}
