.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  background-color: rgba(0, 95, 148, 0.8);
  overflow-x: hidden;
  padding-top: 20px;
  z-index: 2;
}
.sidebar__close {
  position: absolute;
  top: 0.7rem;
  right: 1.8rem;
  padding: 10px;
  cursor: pointer;
}
.sidebar-menu-list {
  margin-top: 4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  list-style: none;
}
.sidebar-menu-item a {
  color: #fff;
  text-decoration: none;
  font-weight: var(--fontWeightUltraBold);
}
