.card__horizontal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: stretch;
  align-items: center;
}
.card__horizontal--title {
  margin-left: 1rem;
}
.card__horizontal--image {
  width: 100%;
  border-radius: calc(var(--border-radius) + 10px);
}
.card__horizontal--text {
  grid-column: 1 / span 3;
}
@media screen and (max-width: 768px) {
  .card__horizontal--text {
    grid-column: -2 / -1;
  }
}
